body{
    background-color: #ffd230;
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 10px;
    width: 100vw;
}
#navbar a{
    padding: 20px;
}

/* home page */
.wrapper{
    text-align: center;
}
.wrapper img{
    border-radius: 10px;
}

/* recipe page */
.recipe-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-wrapper{
    display: flex;
}
.card{
    width: 300px;
    padding: 5px;
}

/* contact page */
